<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingfeng.breeze.user.mapper.SysResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.qingfeng.breeze.user.model.SysResources" >
    <id column="resources_id" property="resourcesId" jdbcType="INTEGER" />
    <result column="resources_name" property="resourcesName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="resources_code" property="resourcesCode" jdbcType="VARCHAR" />
    <result column="resources_url" property="resourcesUrl" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    resources_id, resources_name, type, parent_id, resources_code, resources_url, icon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where resources_id = #{resourcesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_resources
    where resources_id = #{resourcesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qingfeng.breeze.user.model.SysResources" >
    insert into sys_resources (resources_id, resources_name, type, 
      parent_id, resources_code, resources_url, 
      icon)
    values (#{resourcesId,jdbcType=INTEGER}, #{resourcesName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{resourcesCode,jdbcType=VARCHAR}, #{resourcesUrl,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingfeng.breeze.user.model.SysResources" >
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        resources_id,
      </if>
      <if test="resourcesName != null" >
        resources_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="resourcesCode != null" >
        resources_code,
      </if>
      <if test="resourcesUrl != null" >
        resources_url,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        #{resourcesId,jdbcType=INTEGER},
      </if>
      <if test="resourcesName != null" >
        #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="resourcesCode != null" >
        #{resourcesCode,jdbcType=VARCHAR},
      </if>
      <if test="resourcesUrl != null" >
        #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingfeng.breeze.user.model.SysResources" >
    update sys_resources
    <set >
      <if test="resourcesName != null" >
        resources_name = #{resourcesName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="resourcesCode != null" >
        resources_code = #{resourcesCode,jdbcType=VARCHAR},
      </if>
      <if test="resourcesUrl != null" >
        resources_url = #{resourcesUrl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where resources_id = #{resourcesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingfeng.breeze.user.model.SysResources" >
    update sys_resources
    set resources_name = #{resourcesName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      resources_code = #{resourcesCode,jdbcType=VARCHAR},
      resources_url = #{resourcesUrl,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR}
    where resources_id = #{resourcesId,jdbcType=INTEGER}
  </update>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT
    re.resources_id,
    re.icon,
    re.parent_id,
    re.resources_code,
    re.resources_name,
    re.resources_url,
    re.type
    FROM
    sys_resources re
    LEFT JOIN sys_role_resources rr ON re.resources_id = rr.resources_id
    LEFT JOIN sys_role r ON rr.role_id = r.role_id
    LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
    LEFT JOIN sys_user u ON ur.user_id = u.user_id
    WHERE u.user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>